

/* ***************** main starts here **************** */
@media screen and (max-width: 500px) {
    * {
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
        box-sizing: border-box;
    }
    
    html,
    body {
        height: 100%;
        width: 100vw;
        overflow-x: hidden;
    }

    #main {
        height: 100vh;
        width: 100vw;
        overflow-x: hidden;
    }


    /* Chat icon */

    #chat{
        position: absolute;
        right: 5vw;
        bottom: 5vw;
        padding: 2.5vw;
        margin: 0;
        background: #ff5757;
        display: flex;
        border-radius: 50%;
        z-index: 95;
        color: #fff;
        font-size: 7vw;
        cursor: pointer;
        box-shadow: 0 2px 5px #00000076;
        transition: .3s;
    }
    #chat:hover{
        background: #ff4949;
        transform: rotate(10deg);
        box-shadow: 0 2px 7px #00000094;
    }
    

    /* navbar */
    #nav-icon {
        font-size: 7vw;
        position: absolute;
        z-index: 110;
        top: 5vw;
        right: 5vw;
        cursor: pointer;
        transition: .5s;
        padding: 1vw;
        background: rgba(34, 34, 34, 0.2);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 2px;
        backdrop-filter: blur(100px);
    }

    #navbar {
        position: absolute;
        padding: 5vh 5vw;
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        z-index: 100;
        backdrop-filter: blur(2px);
        transform: translateY(-100vh);
        transition: .5s;
    }

    .nav-l {
        height: auto;
        width: 100vw;
        padding: 0 20vw;
        display: flex;
        flex-direction: column;
        gap: 5vh;
    }

    .nav-l>h1 {
        font-size: 5vw;
    }

    .nav-l>a {
        font-size: 3.5vw;
        height: 5vh;
        width: 40vw;
    }

    .nav-r {
        height: auto;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 5vw;
    }

    .nav-r>a {
        height: 5vh;
        width: 40vw;
        font-size: 3.5vw;
    }



    /* page - 1  */


    #page-1{
        height: 100vh;
        min-height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        align-items: center;
        /* flex-wrap: wrap; */
    }

    .page-1l {
        height: auto;
        width: 100vw;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 7vh 5vw;
        gap: 5vh;
    }

    .page-1l>h1 {
        font-size: 5vw;
        font-weight: 700;
        color: var(--e);
    }

    .page-1l>p {
        font-size: 3vw;
        font-weight: 500;
        color: var(--f);
    }

    .page-1l>a {
        font-size: 3.5vw;
        background: var(--a);
        color: #fff;
        height: 7vh !important;
        width: 40vw !important;
        font-weight: 500;
        transition: .3s;
    }

    .page-1r {
        height: auto;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: end;
    }

    .page-1r>img {
        /* position: absolute; */
        transform: translate(-5vw, -5vh);
        height: auto;
        width: 70vw;
    }

/* ... Page-2 ... */
        
    #page-2{
        height: 100vh;
        max-width: 100vw;
        background: var( --antiflash-white);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 4vh;
        padding: 15vh 0;
    }
    #page-2> .page-2t{
        height: auto;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        color: var(--e);
        font-size: 2vw;
    }
    #page-2 > .page-1b{
        height: auto;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .cards{
        height: auto;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 4vh;
    }
    .cards > .card{
        height: auto;
        width: 80vw;
        background: var(--b);
        border-radius: 30px;
        overflow: hidden;
    }
    .card > img{
        position: absolute;
        width: 100%;
        height: 0;
    }
    .card-content{
        height: auto;
        width: 80vw;
        color: #fff;
        padding: 5vh 3vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4vh;
    }
    .card-content > h1{
        font-size: 5vw;
        line-height: 1vw;
    }
    .card-content > p{
        font-size: 3.5vw;
        font-weight: 300;
        text-align: center;
        line-height: 20px;
        color: var(--platinum);
    }



/* ****************** Page - 3 ************** */

    #page-3{
        height: auto;
        width: 100vw;
        background: #fff;
        display: flex;
        flex-direction: column;
        padding: 5vw 0;
    }
    #page-3 > .page-3l{
        padding: 5vh 0;
        width: 100vw;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #page-3 > .page-3r > h1,.page-4l > h1,.links > h1,#page-9 > h1{
        color: var(--e);
        font-size: 5vw;
        line-height: 25px;
    }
    #page-3 > .page-3r > p,.page-4l > p{
        font-size: 3.5vw;
        line-height: 20px;
        color: var(--f);
    }

    #page-3 > .page-3r{
        width: 100vw;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 5vh;
        padding: 7vw 7vw;
    }
    #page-3 > .page-3l > img{
        width: 60vw;
        height: auto;
    }


    /* ****************** Page - 4 ****************** */
    #page-4{
        height: auto;
        width: 100vw;
        display: flex;
        flex-direction: column;
        background: var(--antiflash-white);
        padding: 5vh 0;
    }
    #page-4>.page-4l{
        padding: 5vh 0;
        height: auto;
        width: 100vw;
        padding-left: 10vw;
        padding-right: 5vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 5vh;
    }
    #page-4 > .page-4r{
        padding: 5vw 0;
        width: 100vw;
        display: flex;
        justify-content: center;
    }
    #page-4 > .page-4r > img{
        width: 50vw;
        height: auto;
    }



    /* ****************** Page - 5 ****************** */
    #page-5{
        height: auto;
        width: 100vw;
        background:  var(--donno);
        padding-bottom: 15vh;
    }
    #page-5 > .page-5t{
        padding: 5vh 10vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .page-5t > h1{
        color: var(--e);
        font-size: 3.5vw;
        text-align: center;
    }
    .page-5b{
        display: flex;
        height: auto;
        width: 100%;
        padding-left: 10vw;
    }
    .page-5b>img{
        width: 40vw;
        max-height: 40vw;
    }
    .page-5br{
        height: auto;
        width: 50vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 5vw;
        gap: 1.5vh;
    }
    .page-5br > h1{
        color: var(--e);
        font-size: 3.5vw;
    }
    .page-5br > p{
        font-size: 2.5vw;
        line-height: 15px;
    }



    /* ****************** Page - 6 ****************** */
    #page-6{
        height: auto;
        width: 100vw;
        padding: 7vh 10vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    #page-6 > img{
        width: 35vw;
        height: auto;
        transform: translateX(0);
    }
    .page-6r{
        height: auto;
        width: 100vw;
        padding: 7vw 5vw;
    }
    .links{
        display: flex;
        flex-direction: column;
        gap: 3vw;
    }
    .links > h1{
        text-align: center;
        font-size: 5vw;
        color: var(--e);
        font-weight: 700;
    }
    .links ul{
        display: flex;
        flex-direction: column;
        gap: 2vh;
    }
    .links ul li{
        list-style: none;
        display: flex;
        gap: 1.5vw;
        align-items: center;
        padding-left: 15vw;
    }
    .links ul li ion-icon{
        font-size: 5vw;
        color: #fff;
        padding: 2vw;
        background: var(--b);
        border-radius: 50%;
    }
    .links ul li a{
        padding: 2vh 2vw;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        font-size: 3.5vw;
        font-weight: 700;
        color: var(--a);
        transition: .3s;
    }
    .links ul li a:hover{
        color: var(--f);
    }


    /* ****************** Page - 7 ****************** */

    #page-7{
        height: auto;
        width: 100vw;
        padding: 10vw 5vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10vh;
        background: rgb(235, 235, 235);
    }
    #page-7>h1{
        text-align: center;
        font-size: 4.5vw;
    }
    .page-7b {
        height: auto;
        width: 100vw;
        display: flex;
        gap: 10vw;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .page-7b > img{
        width: 60vw;
        height: auto;
        transform: translateX(-25px);
    }
    .page-7br{
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: space-between;
        flex-wrap: nowrap;
        gap: 4vw;
    }
    .strip{
        height: auto;
        width: 80vw;
        display: flex;
        flex-wrap: wrap;
        gap: 5vw;
        align-items: center;
        justify-content: center;
    }
    .strip ion-icon{
        padding: 1.5vw;
        background: var(--b);
        border-radius: 50%;
        font-size: 5vw;
        color: #fff;
    }
    .txt-7{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        width: 60vw;
    }
    .txt-7 h1,.txt-9>h1{
        font-size: 4vw;
        font-weight: 500;
    }

    .txt-7 p, .txt-9 p{
        font-size: 3.5vw;
        font-weight: 300;
    }



    /* ****************** Page - 8 ****************** */

    #page-8{
        background: var(--f);
        height: auto;
        width: 100vw;
        padding: 15vh 20vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #fff;
        flex-direction: column;
        gap: 5vw;
    }
    .block{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }



    /* ****************** Page - 9 ****************** */

    #page-9{
        height: auto;
        width: 100vw;
        padding: 15vw 5vw;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
        gap: 5vw;
        background: var(--b);
        color: var(--d);
    }
    #page-9 > h1{
        color: var(--d);
    }
    .page-9b{
        display: flex;
        flex-direction: column;
        gap: 7vw;
        align-items: center;
        justify-content: center;
    }
    .page-9b > img{
        width: 0vw;
        height: auto;
    }
    .page-9br{
        height: auto;
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2vw;
    }
    .str-9{
        display: flex;
        gap: 5vw;
        align-items: center;
        justify-content: center;
    }
    .str-9 > ion-icon{
        padding: 1vw;
        background: var(--d);
        color: var(--a);
        border-radius: 50%;
        font-size: 5vw;
    }
    .txt-9{
        width: 60vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        color: #fff;
    }
    .txt-9 > p{
        color: var(--platinum);
        font-size: 3vw;
    }



        /* ****************** Page - 10 ****************** */
    #page-10{
        height: auto;
        width: 100vw;
        display: flex;
        padding: 10vh 5vw;
        justify-content: space-between;
        background:  var(--platinum);
        flex-direction: column;
        gap: 10vw;
    }
    .page-10a,.page-10b,.page-10c{
        width: 80vw;
        padding: 0 1vw;
    }
    .page-10a {
        display: flex;
        flex-direction: column;
        gap: 5vh;
    }
    .page-10a > h1{
        font-size: 5vw;
        text-align: center;
    }
    .page-10a > p{
        font-size: 3.5vw;
        color: var(--f);
    }
    .page-10b > h1,.page-10c > h1{
        font-size: 4vw;
    }
    .page-10c>p{
        font-size: 3.5vw;
        color: var(--f);
    }

    .link-10 ul li{
        list-style: none;
    }
    .link-10 ul li a{
        font-size: 3.5vw;
        color: var(--a);
        text-decoration: none;
        transition: .3s;
    }
    .link-10 ul li a:hover{
        color: var(--f);
    }





}